.Input {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
}

.Label {
	display: block;
	font-weight: bold;
	margin-block-end: 8px;
	text-align: left;
}

.InputElement {
	box-sizing: border-box;
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	background-color: #fff;
	font: inherit;
	padding: 6px 10px;
}

.InputElement:hover {
	background-color: #ccc;
}
